html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: calc(100vw / 1080 * 100);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html, body, div, header, footer, main, nav, sidebar, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}